<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head_user.ejs'); %>
  <link rel="stylesheet" href="/public/css/cart.css">
  <link rel="stylesheet" href="/public/css/promotion.css">

  <body>
    <%- include('../../partials/header_user.ejs'); %>
      <div class=" container mtop">
        <div class="row">
            <% prom.forEach(function(promotion, index) { %>
              <div class="card col-md-4 col-sm-6 col-xs-6 mx-4 mb-4" style="width: 20.5rem;">
                <img src="https://toplist.vn/images/800px/bibeo-authentic-1030908.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= promotion.promo_name %>
                  </h5>
                  <div style="height: 60px;">
                    <p class="card-text text-dark text_promo">
                      <%= promotion.promo_des %>
                    </p>
                  </div>
                  <div class="pt-2"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                </div>
              </div>
          <% })%>
        </div>
      </div>
      <%- include('../../partials/footer_user.ejs'); %> 
  </body>

</html>