<!DOCTYPE html>
<html lang="en">
<%-include('../../partials/head'); %>

    <body>
        <div class="row">
            <div class="col-2"><%-include('../../partials/header'); %></div>
            <div class="container col-9">
                <div class="container mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-products">
                            <div class="d-flex justify-content-between ">
                                <h1>Danh sách Hãng</h1>
                                <div class=" d-flex search">
                                    <form action="">
                                        <input type="search" name="search" id="search" placeholder="Search">
                                        <button type="submit" class="btn-primary p-auto">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tm-product-table-container">
                                <table class="table table-hover tm-table-small tm-product-table mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <!-- <th scope="col">Tên sản phẩm</th> -->
                                            <th scope="col">Hãng</th>
                                            <th scope="col">Ảnh hãng</th>
                                            <th scope="col" colspan="2" class="text-center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% brand.forEach(function(brand, index) { %>
                                            <tr>
                                                <th scope="row" class="align-middle">
                                                    <%= index+1 %>
                                                </th>
                                                <td class="align-middle">
                                                    <%= brand.brandName %>
                                                </td>
                                                <td class="align-middle">
                                                    <img src="<%= brand.img_brand %>" alt="" class="img_sp">
                                                </td>
                                                <td class="text-center align-middle">
                                                    <span onclick='editItem("<%= brand._id %>")' class="icon-cn"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </span>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <span class="icon-cn" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop<%= brand._id %>">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="staticBackdrop<%= brand._id %>" tabindex="-1"
                                                aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Xóa
                                                                sản
                                                                phẩm</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Bạn có chắc xóa <%= brand.brandId %>
                                                            </p>
                                                        </div>
                                                        <div class="col-12 modal-footer">
                                                            <button onclick='deleteItem("<%= brand._id %>")'
                                                                class="btn btn-danger gap-2 col-3"
                                                                data-bs-toggle="modal">Xóa</button>
                                                            <button class="btn btn-secondary gap-2 col-3"
                                                                data-bs-dismiss="modal">Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation example" class="mt-5">
                                <ul class="pagination nav-add ">
                                    <li>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addBrand">
                                            Thêm sản phẩm mới
                                        </button>
                                    </li>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link prev" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <% for(var i=1; i <=3; i++) { %>
                                            <li class="page-item">
                                                <a class="page-link" href="/brand/list?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% }; %>
                                                <li class="page-item next">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                    </ul>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- modal editItem -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật thông tin sản phẩm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <form id="uploadFile" enctype="multipart/form-data">
                                        <input type="file" name="file" id="changeImg" multiple='multiple' />
                                        <button type="button" value="Upload File" name="submit" class="btn btn-primary"
                                            id="btnImgOld">Upload</button>
                                    </form>
                                </div>
                                <div id="formEdit" class="row mt-0"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal add Product -->
                <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sản phẩm mới</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="uploadFile" enctype="multipart/form-data">
                                    <input type="file" name="file" id="img" />
                                    <button type="button" value="Upload File" name="submit" class="btn btn-primary"
                                        id="btnUploadImg">Upload</button>
                                </form>
                                <form class="row g-3" action="/admin/brand/add" method="post">
                                    <div class="col-6">
                                        <img id="imgAdd" height="100px" width="100px" />
                                        <input type="hidden" class="form-control" name="img_brand" id="img_brand">
                                    </div>
                                    <div class="col-6">
                                        <label for="name_brand" class="form-label">Tên hãng</label>
                                        <input type="text" class="form-control ps-3" id="brandName" name="brandName"
                                            placeholder="Nhập tên hãng">
                                    </div>
                                    <div class="col-12">
                                        <label for="des_brand" class="form-label">Mô tả sản phẩm</label>
                                        <textarea type="text" class="form-control" id="des_brand" name="des_brand"
                                            placeholder="Thông tin sản phẩm"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>

            // edit Item Product
            function editItem(brandId) {
                $.ajax({
                    type: "GET",
                    url: `/admin/brand/detail/${brandId}`,
                    success: function (rs) {
                        if (rs.s === 200) {
                            let brandInfo = rs.data;
                            var formEdit = ` 
                                <form class="row g-3" action="/admin/brand/edit" method="post">
                                    <div>
                                        <input type="text" class="form-control" id="_id" name="_id" value="${brandInfo._id}" style="display:none">
                                    </div>
                                    <div class="col-6">
                                        <img id="oldUrl" height="100px" width="100px" src="${brandInfo.img_brand}" class="mt-2" />
                                        <input type="hidden" class="form-control" name="img_prod" id="oldImg" value='${brandInfo.img_brand}'>
                                    </div>
                                    <div class="col-6">
                                        <label for="name_brand" class="form-label">Tên hãng</label>
                                        <input type="text" class="form-control ps-3" id="brandName" name="brandName"
                                            value="${brandInfo.brandName}">
                                    </div>
                                    <div class="col-12">
                                        <label for="des_brand" class="form-label">Mô tả sản phẩm</label>
                                        <textarea type="text" class="form-control" id="des_brand" name="des_brand"
                                            placeholder="Thông tin sản phẩm">${brandInfo.des_brand}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                                    `;
                            $("#formEdit").html(formEdit);
                        } else {
                            alert(rs.msg);
                        }
                    },
                });
            }

            // delete Item brand
            function deleteItem(brandId) {
                $.ajax({
                    type: "DELETE",
                    url: `/admin/brand/delete/${brandId}`,
                    success: function (rs) {
                        console.log(rs);
                        if (rs.s === 200) {
                            window.location.reload();
                        } else {
                            alert(rs.msg);
                        }
                    },
                });
            }

            // add Img brand
            $('#btnUploadImg').on('click', function () {
                var myformData = new FormData();
                myformData.append('file', $('#img')[0].files[0]);
                console.log(myformData);
                $.ajax({
                    url: '/upload-image',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: myformData,
                    enctype: 'multipart/form-data',
                    success: function (rs) {
                        if (rs.s === 200) {
                            $("#imgAdd").attr("src", rs.url);
                            $("#img_brand").val(rs.url)
                            console.log(rs.url);
                        } else {
                            alert(rs.msg);
                        }
                    },
                });
            });

            // add Img Product
            $('#btnUploadImg').on('click', function () {
                var myformData = new FormData();
                myformData.append('file', $('#img')[0].files[0]);
                console.log(myformData);
                $.ajax({
                    url: '/upload-image',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: myformData,
                    enctype: 'multipart/form-data',
                    success: function (rs) {
                        if (rs.s === 200) {
                            $("#imgAdd").attr("src", rs.url);
                            $("#img_prod").val(rs.url)
                            console.log(rs.url);
                        } else {
                            alert(rs.msg);
                        }
                    },
                });
            });

            // changeImage
            $('#btnImgOld').on('click', function () {
                var myformData = new FormData();
                myformData.append('file', $('#changeImg')[0].files[0]);
                console.log(myformData);
                $.ajax({
                    url: '/upload-image',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: myformData,
                    enctype: 'multipart/form-data',
                    success: function (rs) {
                        if (rs.s === 200) {
                            $('#oldUrl').attr('src', rs.url);
                            $('#oldImg').val(rs.url);
                            console.log(rs.url);
                        } else {
                            alert(rs.msg)
                        }
                    },
                });
            });
        </script>
    </body>

</html>